@import 'settings';

.book-expert-holder {
  .left-side {
    width: 50px;
    float: left;
  }

  .right-side {
    margin-left: 50px;
  }

  .description-holder {
    margin-top: 20px;

    .call_description {
      textarea {
        margin-bottom: 0px;
        height: 80px;
      }
    }
  }

  .est-duration-holder {
    select {
      margin-bottom: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .disclaimer-text {
    font-size: 12px;
    color: $dark-gray;
  }

  .date-pickers {
    .datepicker, select {
      margin-bottom: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}