<div class="page-banner-holder">
  <div class="row">
    <div class="small-12 columns">
      <h3><%= t('.sign_up', :default => "Sign up") %></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-4 columns">
    <p>
      <b>
        同校校友优惠
      </b>
    </p>
    <p>我开窍支持及鼓励校友之间的资讯共享、互利互惠，因此与同校校友的通话费用全额免费。</p>
    <p>为了方便我们验证你的所属学校，请使用学校电邮注册成为普通会员。注册成功以后，我们会以电邮与你联系。</p>
    <p>如果你无法使用学校电邮注册，我们需要向你索取更多资料以进行身份验证。</p>
    <p>此优惠仅限用于验证成功以后的同校校友通话。验证成功之前所支付的通话服务费用不可退返。</p>

    <p>
      <b>
        成为专家
      </b>
    </p>
    <p>
      请发送电邮到 <%= mail_to "experts@wokaiqiao.com" %> 与我们联系以登记成为我开窍的专家，为普通会员提供通话服务。
    </p>
    <%= render "devise/registrations/registration_fields", resource: resource, resource_name: resource_name, just_fields: false %>
    <%= render "devise/shared/links" %>
  </div>
</div>