<div class="page-banner-holder">
  <div class="row">
    <div class="small-12 columns">
      <h3><%= t('.sign_up', :default => "Sign up") %></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-4 columns">
    <%= render "devise/registrations/registration_fields", resource: resource, resource_name: resource_name, just_fields: false %>
    <%= render "devise/shared/links" %>
  </div>
</div>