.partners-page-holder {
  .title-sentence {
    text-align: center;
    margin: 30px 0px;
  }

  .school-holder {
    text-align: center;
  }

  .submit-partership-request-button {
    margin-top: 24px;
  }
}