@import "settings";

.callout {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important;
  text-align: center !important;
}

.profile-circle {
  margin-bottom: 10px;
  border-radius: 50%;
  background-repeat: no-repeat; 
  background-position: center center; // Center image in the circle
  background-size: cover; // Make sure it covers the circle, as there is no bg repeat
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.page-banner-holder {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: $white;
  background-color: $primary-color;
  margin-bottom: 30px;
}

.numbered-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: $primary-color;
  border: 4px solid $white;
  box-shadow: 0 0 0 2px #2199e8;
  text-align: center;
  color: $white;
}

.subtitle-holder {
  h6 {
    margin-bottom: 0px;
  }

  .subtitle {
    color: $dark-gray;
  }
}

.expert-brief-blurb-holder {
  .left-side {
    width: 60px;
    float: left;
  }

  .right-side {
    margin-left: 60px;
  }

}

@media only screen and (max-width: 40em) {
  .expert-brief-blurb-holder {
    text-align: center;
  }
}