@import "settings";

.callout {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important;
  text-align: center !important;
}

.profile-circle {
  margin-bottom: 10px;
  border-radius: 50%;
  background-repeat: no-repeat; 
  background-position: center center; // Center image in the circle
  background-size: cover; // Make sure it covers the circle, as there is no bg repeat
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

  &.small {
    width: 60px;
    height: 60px;
  }
}

.page-banner-holder {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: $white;
  background-color: $primary-color;
  margin-bottom: 30px;
}

.numbered-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: $primary-color;
  border: 4px solid $white;
  box-shadow: 0 0 0 2px $primary-color;
  text-align: center;
  color: $white;
}

.subtitle-holder {
  h6 {
    margin-bottom: 0px;
  }

  small.subtitle {
    color: $dark-gray;
  }

  small.subtitle-linkable {
    color: $success-color;
    cursor: pointer;
  }
}

.expert-brief-blurb-holder {
  .left-side {
    width: 60px;
    float: left;
  }

  .right-side {
    margin-left: 60px;
  }

}

@media only screen and (max-width: 40em) {
  .expert-brief-blurb-holder {
    text-align: center;
  }
}

.error-box {
  margin-top: -15px;
  font-size: 14px;
  color: red;
  font-style: italic;
  margin-bottom: 10px;
}

.top-callout {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.alert-text {
  color: $alert-color;
}

.blank-raty-div {
  font-size: 30px;
}

.pagination-holder {
  text-align: center;
  margin-top: 30px 0px;

  .current a {
    color: white;

    &:hover {
      background-color: transparent;
    }
  }
}

.menu-centered.menu {
  display: table;
  margin: 0 auto;

  .current a {
    color: white;
    background-color: $primary-color;
    border-radius: $global-radius;
  }
}