@import 'settings';

.call-list-holder {
  padding: 0px 10px;

  .profile-circle-holder {
    text-align: center;
  }

  @media only screen and (max-width: 40em) {
    .call-name {
      margin-bottom: 20px;
      font-size: 20px;
    }

    .profile-circle {
      width: 150px;
      height: 150px;
    }
  }

  .call-title {
    margin-bottom: 0px;
  }

  .inline-title {
    color: $primary-color;
  }

  .call-details-holder {
    margin-top: 10px;
  }

  .left-side {
    width: 80px;
    float: left;
  }

  .right-side {
    margin-left: 80px;
  }

  .action-callout {
    text-align: left !important;
  }

  @media only screen and (max-width: 40em) {
    .action-callout {
      margin-top: 10px;
    }
  }

  .fa-star, .fa-star-half-empty {
    color: $success-color;
  }

  .call-action-buttons-holder {
    margin-top: 10px;
  }


  @media only screen and (max-width: 40em) {
    .edit-call-button, .rate-call-button, .book-again-call-button {
      margin-right: 10px;
    }
  }

  @media only screen and (min-width: 40.063em) {
    .call-action-button {
      margin-bottom: 0px !important;
    }

    .edit-call-button, .rate-call-button, .book-again-call-button {
      margin-right: 10px;
    }
  }

  .user-as-call-expert-indicator-holder {
    margin-bottom: 20px;

    .user-as-call-expert-indicator {
      margin-left: -26px;
      padding: 10px 35px 10px 10px;
      background-color: $light-gray;
      position: relative;
    }

    .user-as-call-expert-indicator:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      right: -15px;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid white;
      -ms-transform: rotate(270deg); /* IE 9 */
      -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
      transform: rotate(270deg);
      -webkit-backface-visibility: hidden;
    }
  }
}