@import 'settings';

.call-list-holder {
  padding: 0px 10px;

  .profile-circle-holder {
    text-align: center;
  }

  @media only screen and (max-width: 40em) {
    .call-name {
      margin-bottom: 20px;
      font-size: 20px;
    }

    .profile-circle {
      width: 150px;
      height: 150px;
    }
  }

  .call-title {
    margin-bottom: 0px;
  }

  .inline-title {
    color: $primary-color;
  }

  .call-details-holder {
    margin-top: 10px;
  }

  .left-side {
    width: 80px;
    float: left;
  }

  .right-side {
    margin-left: 80px;
  }

  .action-callout {
    text-align: left !important;
  }

  @media only screen and (max-width: 40em) {
    .action-callout {
      margin-top: 10px;
    }
  }

  .fa-star, .fa-star-half-empty {
    color: $success-color;
  }

  .call-action-buttons-holder {
    margin-top: 10px;
  }


  @media only screen and (max-width: 40em) {
    .edit-call-button {
      margin-right: 10px;
    }
  }

  @media only screen and (min-width: 40.063em) {
    .call-action-button {
      margin-bottom: 0px !important;
    }

    .edit-call-button {
      margin-right: 10px;
    }
  }
}